div#header
	a(href="/logout"): button(type="button",style="width: 100px; height: 20px;" ) Log out
	|  
	a(href="/userInfo"): button(type="button",style="width: 100px; height: 20px;" ) User Info
	|  
	a(href="/registration"): button(type="button",style="width: 100px; height: 20px;" ) Registrations
	|  