html
head
	title Home page

body

h1 Welcome! 

h4 If you have an account please login:

a(href="/login"): button(type="button",style="width: 250px; height: 40px;") Login

h4 If you are new please create an account:

a(href="/signUp"): button(type="button",style="width: 250px; height: 40px;" ) Sign-Up

    
      
	